/*@import url('http://fonts.googleapis.com/css?family=Geo');*/

@font-face {
    font-family: 'Arcade';
    src: url(../fonts/ARCADECLASSIC.TTF);
}

.hiddenText {
  font-family: Arcade;
  visibility: hidden;
}

.hiddenText::after{
  content: '.';
  display: block;
}

#game {
  width: 500px;
  height: 340px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hidden-md {
    display: none !important;
  }
}
